/*-----Global-----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Source Sans Pro', sans-serif !important; 
    font-weight: 100;
}

body {
    width: 60%;
    max-width: 960px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

h1 {
    font-family: 'Source Sans Pro', sans-serif !important; 
    font-size: 50px;
    font-weight: 700;
    color: #424242;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif !important; 
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
    margin-top: 10px;
    color: #757575;
}

p {
    font-family: 'Source Sans Pro', sans-serif !important; 
    color: #757575;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 100px;

}


/*----coloring-----*/
.green {
    color: #77A391;
}
.greenBorder {
    border-color: #77A391;
}
.btn:hover {
    border-color: #506D61;
    color: #506D61;
}
.highlight{
    color: #ffffff;
    background-color: #77A391;
}

/*----animation-----*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
   @-webkit-keyframes fadeInUp {
      0% {opacity: 0;}
      100% {opacity: 1;}
   }
           
  @keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%,0);}
      100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0,0,0);}
  }
  
  .fadeInUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
   @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
   }
           
  @keyframes fadeIn{
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
  
  .fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

/*----nav-----*/
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}
.name {
    flex: 1;
    margin-top: 5px;
}
.navItems {
    text-align: right;
    overflow: hidden;
    margin-top: 15px;
}
.navItems a, .name a {
    display: inline-block;
    vertical-align: middle;
    color: #424242;
}
.navItems a {
    margin-left: 40px;
    text-decoration: none;
}
.navItems .icon {
    display: none;
}
.name a {
    text-decoration: none;
}

/*-----landing-----*/
.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.landing {
    margin-top: 4em;
}


/*-----projects-----*/
 
  .card-style {
    width: 100%;
    margin-bottom: 2em;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  
  .card-style:hover {top: -12px;}


/*-----footer---*/
.footer {
    padding-top: 10em;
    margin-bottom: 100px;
    text-align: center;
}
.footerIcons a{
    margin: 10px;
}

